# folders
tianchi/
kkb/03/demo/
kkb/03/.ipynb_checkpoints/
kkb/04/a8cc923e318d07b5536a0429c5eb980.png
kkb/05/L13/
kkb/06/lALPDgtYwRErecrNBCzNAoA_640_1068.png_720x720q90g.jpg
kkb/07/AlphaZero_Gomoku
kkb/07/名企.png
kkb/07/action/__pycache__/
kkb/08/SupplyChain/
kkb/08/code/
kkb/08/9b24bd665855079e51f3dd386d8c705.png
env/
.vscode/

# files
*.csv
*.ttf
*.pdf
*.pptx
*.zip
*.xls
问卷星二维码海报.png
test.py
requirements.txt
note.txt